<!-- Extención de base.html -->
{% extends "base.html" %}

{% block content %}
    <div class="row g-0">

        <!-- Sidebar (vertical)  -->
        <aside class="col-12 col-md-3 col-lg-1 bg-white border-end p-3">
            <div class="d-flex flex-column gap-2">
                {% block sidebar %}
                {% include "partials/sidebar.html" %}
                {% endblock %}
            </div>
        </aside>

        <!-- Contenido del módulo -->
        <section class="col-12 col-md-10 col-lg-11 p-4">
            {% block module_content %}{% endblock %}
        </section>
    </div>
{% endblock %}
