{% extends "base_module.html" %}

{% block title %} Gestión de Medicamentos {% endblock %}

{% block module_content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="h4 fw-bold mb-0">Gestión de medicamentos</h1>
    <div class="d-flex gap-2">
        <button class="btn btn-outline-primary btn-sm" 
            type="button">Reporte
            <i class="bi bi-filetype-xml"></i>
        </button>

        <!-- Botón nuevo medicamento -->
        {% if rol != "ABASTECIMIENTO" %}
            <button class="btn btn-primary btn-sm" 
                type="button" 
                data-bs-toggle="modal" 
                data-bs-target="#modalNuevoMedicamento">
                Nuevo Medicamento
                <i class="bi bi-plus-circle"></i>
            </button>
        {% endif %}

    </div>  
</div>

<div class="card shadow-sm">
    <div class="card-body">

        <!-- Barra superior: búsqueda + filtro -->
        <div class="row g-2 align-items-center mb-3">
            <!-- Buscador -->
            <div class="col-12 col-md-6">
                <input id="searchMedicamento" class="form-control" type="search" placeholder="Buscar medicamento...">
            </div>
            
            <!-- Filtro por periodo -->
            <div class="col-12 col-md-3">
                <select id="filtroPeriodo" class="form-select">
                    <option value="mes" selected>Mes actual</option>
                    <option value="1m">Último mes</option>
                    <option value="2m" >Últimos 2 meses</option>
                </select>
            </div>
        </div>

        <!-- Tabla -->
        <div class="table-responsive">
            <table class="table table-hover align-middle">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>nombre</th>
                        <th>recetas</th>
                        <th>despachos</th>
                        <th>proyección</th>
                    </tr>
                </thead>
                <tbody id="tablaMedicamentosBody">
                    <!-- JS inyecta filas desde la DB -->
                </tbody>
            </table>
        </div>

        <!-- Paginación (visual) -->
        <nav class="d-flex justify-content-end">
            <ul class="pagination pagination-sm mb-0">
                <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
            </ul>
        </nav>
    </div>
</div>

<!-- Modal: Nuevo medicamento -->
<div class="modal fade" id="modalNuevoMedicamento" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Crear medicamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <form id="formNuevoMedicamento">
                <label class="form-label">Nombre</label>
                <input name="nombre" id="nombreMedicamento" class="form-control" placeholder="Ej: Enalapril 10mg" required>
                <div class="invalid-feedback">Ingresa un nombre válido (mínimo 3 caracteres).</div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Cancelar</button>
                <button id="btnGuardarMedicamento" class="btn btn-primary btn-sm" form="formNuevoMedicamento">
                Guardar
                </button>
            </div>

        </div>
    </div>
</div>

{% endblock %}
